.registration-form {
    width: 25rem;
    max-width: 80vw;
    margin: 5rem auto;
}

.form-field label,
.form-field input {
    display: block;
    width: 100%;
}

.form-field {
    width: 100%;
    margin-bottom: 1rem;
}

.registration-field {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    background-color: #FDF7F2;
    border: 1px solid #FDF7F2;
    font-size: 15px;
    font-style: italic;
    padding-left: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.registration-field:focus {
    outline: none;
}

.form-field.form-field-two-inline {
    display: flex;
    flex-wrap: wrap;
}

.form-field.form-field-two-inline > input {
    width: 50%;
}

.form-field.form-field-two-inline > .error {
    width: 40%;
    line-height: 20px;
}

.submit-btn {
    width: 100%;
    height: 40px;
    background-color: #E4B072;
    border: 1px solid #E4B072;
    font-size: 15px;
    font-style: italic;
    color: white;
    margin: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.submit-btn:hover {
    border: 1px solid #f5c692;
    background-color: #f5c692;
}

.error {
    display: inline-block;
    color: red;
    font-size: 15px;
    font-style: italic;
    padding-left: 30px;
    margin-top: .5rem;
}

.error-filed {
    border: 1px solid red;
}

.form-field.form-field-btn-div {
    margin-top: 2rem;
}
